---
// import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
// import Tag from "../components/Tag.astro";
---

<Layout title="Neverkevich Maxim • Front-End Developer">
    <main>
        <h1>Neverkevich Maxim • Front-End Developer</h1>
    </main>
</Layout>