---
interface Props {
  title: string;
  slug: string;
  href: string;
}

const { title, slug, href } = Astro.props;
---

<a href={href} rel="noopener noreferrer" target="_blank">
  <span class="tw-sr-only">{title}</span>
  <img
    src={`./static/${slug}.svg`}
    alt={`${title} Icon`}
    width="48"
    height="48"
    loading="lazy"
  />
</a>
