@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: fallback;
  font-weight: 300;
  src: url(@fontsource/teko/files/teko-latin-300-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url(@fontsource/teko/files/teko-latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url(@fontsource/teko/files/teko-latin-700-normal.woff2) format('woff2');
}